@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body{
	background-color: steelblue;
	display: flex;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	justify-content:center;
	height: 70vh;
	margin-top: 112px;
	overflow: hidden;
}

.container{
	background-color: rgba(0, 0, 0, 0.4);
	padding: 20px 40px;
	margin: 20px 40px;
	position: fixed;
}

.container h1{
	text-decoration: center;
	margin-bottom: 30px;
}

.container a:hover{
	text-decoration: underline;
	color:rgb(133, 183, 228);
}

.form-control ::placeholder{
	font-size: 15px;
	padding-left: 10px ;
	padding-right: 10px;
	font-family: 'Source Sans Pro', sans-serif;
	color: rgb(240,228,228);
}

.btn{
	cursor: pointer;
	width: 95%;
	background: rgb(73, 140, 240);
	padding: 15px;
     
	font-size: 16px;
	border: 0;
	border-radius: 5px;
	color: #fff;
	font-weight: bolder;
}

.btn:active{
  transform: scale(0.98);
}

.form-control{
	position: relative;
	margin: 20px 0 40px;
	width: 300px;
}

.form-control input{
	background-color: transparent;
	padding: 15px 10px;
	border-bottom: 2px #fff solid;
	display: block;
	width: 266px;
	font-size: 16px;
	color: #fff;
}

.formerror{
	font-size: small;
	padding: 5px;
	color: #ff0055;
	position: absolute;

}

.footer{
	display: flex;
	margin-top: 550px;
	margin-left: 8px;
}

.footer a{
	color: #fff;
}